<!-- Describe task in general -->

<p>
    Bestimmen Sie bei zwei Zeichenketten und einer zulässigen Anzahl von Zeichenunterschieden, ob die Zeichenketten als annähernd gleich angesehen werden können.  
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}fuzzy-string.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Drei Argumente: zwei Zeichenketten <span>(str{% if is_js %}ing{% endif %})</span> und eine Ganzzahl <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Logischer Wert <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>


<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Wie es verwendet wird:</strong>
    <ul>
        <li><i>algorithmen zur Rechtschreibprüfung, bei denen leichte Unterschiede ignoriert werden können;</i></li>
        <li><i>suchalgorithmen in Datenbanken, um Einträge zu finden, die der Abfrage genau entsprechen;</i></li>
        <li><i>DNA-Sequenzabgleich, bei dem bestimmte Unterschiede zulässig sind.</i></li> 
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Vorbedingung:</strong>
    <ul>
    <li><i>0 &lt;= threshold &lt;= max(len(str1), len(str2)).</i></li>
    </ul>
</p>
